.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #56042C;
}

.navbar__left {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navbar__left__logo {
  padding: 0 1rem;
  height: 1.5rem;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__button {
  padding: .5rem 1rem;
}

.navbar__button:hover {
  background: #810843;
}

.active_button {
  background: #810843;
}

.material-icons {
  margin-right: .3rem;
}

.navbar__button__title {
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

/**
Responsive Navbar
Seitentiteln werden nicht angezeigt
  *Username erst bei 560px
*/
@media screen and (max-width: 700px) {
  .navbar__button__title {
    display: none;
  }

  .username {
    display: inline-block;
  }
}

@media screen and (max-width: 560px) {
  .username {
    display: none;
  }
}
