<div class="navbar">
  <div class="navbar__left">
    <img src="assets/logos/navbar_logo.png" class="navbar__left__logo" alt="">
    <span class="navbar__left__title text--white"></span>
  </div>
  <div class="navbar__right">
    <button mat-button class="navbar__button" (click)="navigateTo('home')">
      <span class="material-icons">home</span>
      <span>Startseite</span>
    </button>
    <button mat-button class="navbar__button" (click)="navigateTo('predict')">
      <span class="material-icons">checklist</span>
      <span>Vorhersagen</span>
    </button>
    <button mat-button class="navbar__button" (click)="navigateTo('login')" *ngIf="!checkIsLoggedIn()">
      <span class="material-icons">login</span>
      <span>Login</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" class="navbar__button" *ngIf="checkIsLoggedIn()">
      <span class="material-icons">account_circle</span>
      {{user.firstName}} {{user.lastName}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Kontoeinstellungen</button>
      <button mat-menu-item (click)="logout()">Abmelden</button>
    </mat-menu>
    <button mat-button class="navbar__button" (click)="navigateTo('about')">
      <span class="material-icons">info</span>
    </button>
  </div>
</div>
