<div class="navbar">
  <div class="navbar__left">
    <img src="assets/logos/navbar_logo.png" class="navbar__left__logo" alt="">
    <span class="navbar__left__title text--white"></span>
  </div>
  <div class="navbar__right">
    <button mat-button class="navbar__button" [ngClass]="{'active_button' : currentPath('home')}"
            (click)="navigateTo('home')">
      <span class="material-icons">home</span>
      <span class="navbar__button__title">{{ 'home' | translate}}</span>
    </button>
    <button mat-button class="navbar__button" [ngClass]="{'active_button' : currentPath('predict')}"
            (click)="navigateTo('predict')">
      <span class="material-icons">checklist</span>
      <span class="navbar__button__title">{{ 'predictions' | translate}}</span>
    </button>
    <button mat-button class="navbar__button" [ngClass]="{'active_button' : currentPath('login')}"
            (click)="navigateTo('login')" *ngIf="!checkIsLoggedIn()">
      <span class="material-icons">login</span>
      <span class="navbar__button__title">{{ 'login' | translate}}</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" class="navbar__button" *ngIf="checkIsLoggedIn()">
      <span class="material-icons">account_circle</span>
      <span class="navbar__button__title username">{{user.firstName}} {{user.lastName}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">{{ 'logout' | translate}}</button>
    </mat-menu>
    <div mat-button class="navbar__button lang__button" (click)="switchLang('en')">
      <img src="https://img.icons8.com/color/48/000000/great-britain-circular.png" alt="EN" class="language__flag"/>
    </div>
    <div mat-button class="navbar__button lang__button" (click)="switchLang('de')">
      <img src="https://cdn-icons-png.flaticon.com/512/197/197447.png" alt="DE" class="language__flag austrian__flag"/>
    </div>
  </div>
</div>
