<div class="match__container__small">
  <div class="cell match__container__small__header">
    {{match.matchNumber}} / {{match.stage | translate}}
  </div>
  <div class="match__container__small__main">
    <div class="match__container__small_flag__name"
         [ngClass]="selected1 ? 'team-selected' : 'not-selected'"
         (click)="teamClicked('A')">
      <img src="/assets/flags/{{match.aName}}.png" alt="" class="team__flag--small"
           *ngIf="match.aName.length > 0">
      <div class="team__name">{{match.aName}}</div>
    </div>
    <div class="cell">:</div>
    <div class="match__container__small_flag__name"
         [ngClass]="selected2 ? 'team-selected' : 'not-selected'"
         (click)="teamClicked('B')">
      <img src="/assets/flags/{{match.bName}}.png" alt="" class="team__flag--small"
           *ngIf="match.bName.length > 0">
      <div class="team__name">{{match.bName}}</div>
    </div>
  </div>
</div>
