.group-table {
  margin: 1rem 0;
  background-color: white;
}

.group-table__header {
  color: #fff;
  margin: 0 0 -2rem 1rem;
  font-size: 0.8rem;
}
table {
  border-top: 2rem var(--color-1) solid;
  width: 10rem;
  border-radius: 0.5rem;
  background-color: transparent !important;
}

.group-table__team-name {
  width: 7rem;
  margin: 0 0.5rem;
}

.group-table__flag {
  display: flex;
  justify-content: center;
}

.group-table__team__rank {
  width: 3rem;
}

.mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: var(--border-color);
  background: rgba(206, 223, 255, 0.7);
}

.selected-team-is-clicked .mat-cell {
  border-color: var(--border-color);
  background: #f1d5d5;
}

.team__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background: #810843;
  border-radius: 50%;
  padding: 0.2rem;
  color: white;
}

// Padding beim Rank weniger machen
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}
