.bot__dialog {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-1);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bot__dialog__icon {
  font-size: 1.7rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__cover {
  width: 100%;
  height: 100%;
}

.home__cover__img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.groups__section {
  padding: 2rem 0;
}

.groups__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 123rem;
  margin: auto;
}

.k-o__matches__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.k-o-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 530px) {
  .k-o-stage__section {
    display: none;
  }
}

.matches__news__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.matches__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem
}

.matches__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  .matches__container {
    flex-direction: row;
  }
}

.news__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.section__title {
  display: flex;
  justify-content: center;
  width: fit-content;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
  background: black;
  color: white;
}

.cover__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.cover__navigation__top, .cover__navigation__bottom {
  margin-top: 25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 750px) {
  .cover__navigation {
    flex-direction: column;
  }

  .cover__navigation__bottom {
    margin: 0;
  }

  .cover__navigation__bottom div {
    width: 10rem; //todo
  }

}

.cover__navigation__top div, .cover__navigation__bottom div {
  background: black;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.cover__navigation__top div:hover {
  background: #02095e; //TODO in Variable
}

.cover__navigation__bottom div:hover {
  background: #02095e;
}
