.predict__groups__container, .old__predicted__group__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 61rem;
  margin: auto;
}

.predictions__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.k-o-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.submit__prediction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.submit__prediction button {
  width: fit-content;
  margin: 2rem 0;
}

.old__predictions__date {
  background-color: #ff7676;
  padding: 0.5rem;
  text-align: center;
  width: fit-content;
  margin: auto;
  border-radius: 0.5rem;
  color: white;
}

.old__predictions__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button__hint {
  font-size: 0.7rem;
}
