.register__login {
  width: 40rem;
  margin: 3rem auto auto;
  box-shadow: 0 0 39px 7px rgba(0, 0, 0, 0.31);
  border-radius: 0.5rem;
}

.example-full-width {
  width: 100%;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 2rem auto;
}

.register__form--name, .register__form--password, .register__form--buttons {
  display: flex;
  gap: 1rem;
}

.register__form--email, .register__form--buttons > * {
  width: 100%;
}

.register__form--buttons {
  margin-top: 3rem;
}

.password__input {
  display: flex;
}
