.register__login {
  width: 40rem;
  margin: 3rem auto auto;
  box-shadow: rgb(0 0 0 / 8%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
  border-radius: 0.5rem;
}

.example-full-width {
  width: 100%;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 2rem;
  margin: 5rem auto;
}

.register__form--name, .register__form--password, .register__form--buttons {
  display: flex;
  gap: 1rem;
}

.register__form--email, .register__form--buttons > * {
  width: 100%;
}

.register__form--buttons {
  margin-top: 3rem;
}
