<div class="register__login">
  <mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Login">
      <div class="login">
        <form class="register__form">
          <div class="register__form--email">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="user.email" name="email">
            </mat-form-field>
          </div>
          <div class="register__form--password">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [(ngModel)]="user.password" name="password">
            </mat-form-field>
          </div>
          <div class="register__form--buttons">
            <button mat-raised-button color="basic" class="register__form--submit" (click)="resetClicked()">Reset
            </button>
            <button mat-raised-button color="primary" class="register__form--submit" (click)="submitClicked()">Submit
            </button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div class="register">
        <form class="register__form">
          <div class="register__form--name">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput [(ngModel)]="user.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Last name</mat-label>
              <input matInput [(ngModel)]="user.lastName" name="lastName">
            </mat-form-field>
          </div>
          <div class="register__form--email">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="user.email" name="email">
            </mat-form-field>
          </div>
          <div class="register__form--password">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput #password minlength="8" [(ngModel)]="user.password" name="password">
              <mat-hint align="end">{{password.value.length}} / 8</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password wiederholen</mat-label>
              <input matInput #password2 minlength="8" [(ngModel)]="passwordV" name="passwordV">
              <mat-hint align="end">{{password2.value.length}} / 8</mat-hint>
            </mat-form-field>
          </div>
          <div class="register__form--buttons">
            <button mat-raised-button color="basic" class="register__form--submit" (click)="resetClicked()">Reset
            </button>
            <button mat-raised-button color="primary" class="register__form--submit" (click)="submitClicked()">Submit
            </button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
