/* You can add global styles to this file, and also import other style files */

:root {
  --color-1: #56042C;
  --color-2: teal;
  --color-3: antiquewhite;
  --color-4: slategrey;
  --border-color: hsla(0, 39%, 26%, 0.16);
  --font--weight--light: 'Comfortaa', cursive;
  --font--weight--bold: 'Teko', sans-serif;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/background.png");
}

.snackbar {
  margin-top: 2rem !important;
}

.mat-raised-button.mat-primary {
  background-color: var(--color-1);
}

.team__flag--small {
  height: 1.5rem;
}

.error__message {
  background: var(--color-2);
  padding: 1rem;
  text-align: center;
  color: white;
}
