/* You can add global styles to this file, and also import other style files */

$color1: #56042c;
$color2: #1077C3;
$color2: #49BCE3;
$color2: #FEC310;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {
  margin-top: 4rem !important;
}

.mat-raised-button.mat-primary {
  background-color: $color1;
}
